/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}
html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

aside {
  min-height: 1000px;
  width: 300px;
  position: absolute;
  float: left;
}

.div1 {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00695C;
}

.div1 img {
  width: 180px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header {
  width: 90%;
  margin-left: 30%;
  margin-top: 6%;
  line-height: 1.5;
}

header h1 {
  font-size: 46px;
}

header h1 span {
  color: #00695C;
  text-decoration: none;
}

header h2 {
  font-size: 36px;
}

header h2 span {
  color: #00695C;
  text-decoration: underline;
}

.div3 {
  min-height: 10vh;
  background-color: #FFF9C4;
  color: #00695C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.div4 {
  width: 90%;
  margin: 10%;
}

.div4 h2 {
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

.div4 i {
  font-size: 36px;
  color: #00695C;
}

.div5 {
  min-height: 50vh;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00695C;
}

.div5 nav ul li {
  color: #FFF9C4;
  font-size: 16px;
}

.div6 {
  line-height: 1.5;
  width: 90%;
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
}

.div6 .lefty {
  width: 50%;
  padding-top: 20px;
  font-size: 20px;
}

.div6 i {
  color: #00695C;
}

.div6 .righty {
  width: 50%;
  padding-top: 20px;
  font-size: 18px;
}

.div7 {
  min-height: 10vh;
  background-color: #FFF9C4;
  color: #00695C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.div8 {
  width: 90%;
  margin: 5% 10%;
}

.div8 h2 {
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

.div8 i {
  font-size: 36px;
  color: #00695C;
}

.div9 {
  min-height: 50vh;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00695C;
  color: #FFF9C4;
  font-size: 16px;
  padding-left: 10px;
}

.div10 {
  line-height: 1.5;
  width: 90%;
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px
}

.div10 .lefty {
  width: 50%;
  padding-top: 20px;
  font-size: 20px;
}

.div10 .righty {
  width: 50%;
  padding-top: 20px;
  font-size: 18px;
}

.div10 i {
  color: #00695C;
}

.div11 {
  min-height: 10vh;
  background-color: #FFF9C4;
  color: #00695C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.div12 {
  width: 90%;
  margin: 10%;
}

.div12 h2 {
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

.div12 i {
  font-size: 36px;
  color: #00695C;
}

.div13 {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00695C;
}

.div13 i {
  font-size: 28px;
  color: #FFF9C4;
  border: solid 2px #FFF9C4;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.div14 {
  line-height: 1.5;
  width: 90%;
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
}

.div14 .lefty {
  width: 50%;
  font-size: 18px;
}

.div14 .righty {
  width: 50%;
  font-size: 18px;
}

@media (max-width: 576px) {
  .parent {
    display: flex;
    flex-direction: column;
  }

  .div1 {
    order: 1;
  }

  .div2 {
    order: 2;
  }

  .div3 {
    order: 13;
  }

  .div4 {
    order: 3;
  }

  .div5 {
    order: 14;
  }

  .div6 {
    order: 4;
  }

  .div7 {
    order: 11;
  }

  .div8 {
    order: 5;
  }

  .div9 {
    order: 12;
  }

  .div10 {
    order: 6;
  }

  .div11 {
    order: 9;
  }

  .div12 {
    order: 7;
  }

  .div13 {
    order: 10;
  }

  .div14 {
    order: 8;
  }
}

/*fin media queries small devices Smartphones (576px)*/
@media (max-width: 768px) {
  .parent {
    display: flex;
    flex-direction: column;
  }

  .div1 {
    order: 1;
  }

  .div2 {
    order: 2;
  }

  .div3 {
    order: 13;
  }

  .div4 {
    order: 3;
  }

  .div5 {
    order: 14;
  }

  .div6 {
    order: 4;
  }

  .div7 {
    order: 11;
  }

  .div8 {
    order: 5;
  }

  .div9 {
    order: 12;
  }

  .div10 {
    order: 6;
  }

  .div11 {
    order: 9;
  }

  .div12 {
    order: 7;
  }

  .div13 {
    order: 10;
  }

  .div14 {
    order: 8;
  }
}

/*fin media queries medium devices (tablets)
