/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}
html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  float: left;
}
#profilePic {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00695C;
}

#profilePic img {
  width: 180px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
#contactTitle {
  min-height: 15vh;
  background-color: #FFF9C4;
  color: #00695C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

#contactContent {
  min-height: 90vh;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00695C;
}

#contactContent nav ul li {
  color: #FFF9C4;
  font-size: 16px;
}

#aboutMe {
  text-align: center;
  min-height: 15vh;
  background-color: #FFF9C4;
  color: #00695C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#lorem {
  min-height: 90vh;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00695C;
  color: #FFF9C4;
  font-size: 16px;
  padding-left: 10px;
}

#loisirsTitle {
  min-height: 15vh;
  background-color: #FFF9C4;
  color: #00695C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#loisirsIcons {
  min-height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00695C;
}

#loisirsIcons h1 i{
  font-size: 38px;
  color: #FFF9C4;
  border: solid 2px #FFF9C4;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header {
  padding-top: 35px;
  position: sticky;
  width: 80%;
  margin: auto;
  line-height: 1.5;
}

header h1 {
  font-size: 52px;
}

header h1 span {
  color: #00695C;
  text-decoration: none;
}

header h2 {
  font-size: 38px;
}

header h2 span {
  color: #00695C;
  text-decoration: underline;
}

header img{
  display: none;
}


/* parent container for flexbox use below */
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  width: 100%;
  line-height: 1.5;
}

#formationTitle {
  width: 90%;
  margin: 10%;
  padding-top: 30px;
}

#formationTitle h2 {
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

#formationTitle i {
  font-size: 36px;
  color: #00695C;
  padding-right: 10px;
}



#formationContents {
  line-height: 1.5;
  width: 90%;
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
#formationContents i {
  color: #00695C;
  padding-right: 10px;
}
#formationContents h3{
  padding-top: 30px;
}
#formationContents h6{
  padding-top: 30px;
}


.lefty {
  width: 40%;
  font-size: 20px;
}
.righty {
  width: 60%;
  font-size: 18px;
}



#experienceTitle {
  width: 90%;
  margin: 5% 10%;
}

#experienceTitle h2 {
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

#experienceTitle i {
  font-size: 36px;
  color: #00695C;
  padding-right: 10px;
  padding-top: 30px;
}

#experienceContents {
  line-height: 1.5;
  width: 90%;
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

#experienceContents i {
  color: #00695C;
}
#experienceContents h3{
  padding-top: 30px;
}
#experienceContents h6{
  padding-top: 30px;
}

#recommandationsTitle {
  width: 90%;
  margin-left: 10%;
}

#recommandationsTitle h2{
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

#recommandationsTitle i{
  font-size: 36px;
  color: #00695C;
}

#recommandationsContents {
  line-height: 1.5;
  width: 90%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}

#recommandationsContents .lefty {
  width: 50%;
  font-size: 18px;
  margin-top: 5%;
}

#recommandationsContents .righty {
  width: 50%;
  font-size: 18px;
  margin-top: 5%;
}

@media only screen and (min-device-width : 320px) and (max-device-width: 576px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #jumbotron{ /*header avec image pour small devices*/
    order: 1;
  }
  #jumbotron h1 {
    font-size: 44px;
  }
  #jumbotron h2 {
    font-size: 34px;
  }
  #jumbotron img {
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
  } 

   #section__one{ /*section formation */
    order: 2;
  }

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 24px;
    font-weight: bold;
  }

  h4{
    font-size: 24px;
  }

  h6{
    font-size: 20px;
  }

  p{
    font-size: 18px;
  }

  #section__two{ /*section experience*/
    order: 3;
  }
  
  .section__three{ /*section recommandations*/
    order: 4;
  }

  #recommandationsTitle h2{ /*titre section recommandations*/
     font-size: 30px;
  } 
  #sidebar{ /*sidebar*/
    order: 5;
    width: 100%;
  }
  aside h2{
    text-align: center;
    font-size: 42px;
  }
  aside p{
    text-align: center;
    font-size: 26px;
  }
  #contactContent nav ul li { /*contenu contact*/
    font-size: 26px;
  }

  #loisirsIcons h1 i{
    font-size: 58px;
  }
  #profilePic{ /*image de la sidebar */
    display: none;
  }
  
}
/*fin media queries small devices Smartphones (576px)*/

@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header h1 {
    font-size: 72px;
  }
  header h2 {
    font-size: 44px;
  }
  
  #jumbotron img {
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
} 

  #jumbotron{ /*header avec image pour small devices*/
    order: 1;
  }
  
   .section__one{ /*section formation */
    order: 2;
  }
  #formationTitle h2{ /*titre section formation*/
    font-size: 44px;
  }
  .lefty h3{
    font-size: 24px;
    font-weight: bold;
  }
  .lefty h4{
    font-size: 24px;
  }
  .lefty h6{
    font-size: 20px;
  }
  
  .righty h3{
    font-size: 24px;
    font-weight: bold;
  }
  .righty h4{
    font-size: 24px;
  }
  .righty h6{
    font-size: 20px;
  }
  .rigthty p{
    font-size: 18px;
  }
  
  .section__two{ /*section experience*/
    order: 3;
  }
  #experienceTitle h2{ /*titre section experience*/
    font-size: 44px;
  }
  .section__three{ /*section recommandations*/
    order: 4;
  }
  #recommandationsTitle h2{ /*titre section recommandations*/
    font-size: 44px;
  }
  #sidebar{ /*sidebar*/
    order: 5;
    width: 100%;
  }
  #contactTitle h2{
    font-size: 64px;
  }
  #contactContent nav ul li { /*contenu contact*/
    font-size: 42px;
  }
  #aboutMe h2{ /*titre A propos de moi*/
    font-size: 64px;
  }
  #lorem p{ /*contenu A propos de moi*/
    text-align: center;
    font-size: 32px;
  }
  #loisirsTitle h2{ 
    font-size: 64px;
  }
  #loisirsIcons h1 i{
    font-size: 72px;
  }
  #profilePic{ /*image de la sidebar */
    display: none;
  } 
}
/*fin media queries medium devices tablets (768px)*/

@media only screen  and (max-width : 1224px) {
  /* Styles */
  header img{
    display: none;
  }
}