/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}
html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
  padding-top: 35px;
  position: sticky;
  width: 80%;
  margin: auto;
  line-height: 1.5;
}

header h1 {
  font-size: 52px;
}

header h1 span {
  color: #00695C;
  text-decoration: none;
}

header h2 {
  font-size: 38px;
}

header h2 span {
  text-decoration: underline;
  text-decoration-color: #00695C;
  -moz-text-decoration-color: #00695C;
}

header img{
  display: none;
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

#parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section {
  width: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
main section h2 {
  width: 90%;
  margin: 10%;
  margin-bottom: -70px;
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

#formationTitle h2 {
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

#formationTitle i {
  font-size: 36px;
  color: #00695C;
  padding-right: 10px;
}

#formationContents {
  line-height: 1.5;
  width: 90%;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
#formationContents i {
  color: #00695C;
  padding-right: 10px;
}
#formationContents h3{
  padding-top: 30px;
  font-weight: bold;
}
#formationContents h6{
  padding-top: 30px;
}

.lefty {
  width: 40%;
  font-size: 20px;
}
.righty {
  width: 60%;
  font-size: 18px;
}

#experienceTitle {
  width: 90%;
  margin: -7% 10%;
}

#experienceTitle h2 {
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

#experienceTitle i {
  font-size: 36px;
  color: #00695C;
  padding-right: 10px;
  padding-top: 30px;
}

#experienceContents {
  line-height: 1.5;
  width: 90%;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

#experienceContents i {
  color: #00695C;
}
#experienceContents h3{
  padding-top: 30px;
  font-weight: bold;
}
#experienceContents h6{
  padding-top: 30px;
}

#recommandationsTitle {
  width: 90%;
  margin: 10%;
  margin-top: -4%;
}

#recommandationsTitle h2{
  color: black;
  font-size: 36px;
  border-bottom: solid 3px #00695C;
}

#recommandationsTitle i{
  font-size: 36px;
  color: #00695C;
}

#recommandationsContents {
  line-height: 1.5;
  width: 90%;
  margin: -10% 10% 0% 10%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

#recommandationsContents .lefty {
  width: 50%;
  font-size: 18px;
  margin: 5% 0%;
}

#recommandationsContents .righty {
  width: 50%;
  font-size: 18px;
  margin: 5% 0%;
}


#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  float: left;
}
#profilePic {
  padding-top: 10px;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00695C;
}

#profilePic img {
  width: 220px;
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  border: 1px solid rgba(5, 85, 9, 0.5);
}
aside h2 {
  text-transform: uppercase;
  background-color: #FFF9C4;
  color: #00695C;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

#contactContent {
  min-height: 60vh;
  line-height: 1.5;
  background-color: #00695C;
  padding: 20px;
}

#contactContent nav ul li {
  color: #FFF9C4;
  font-size: 16px;
  margin: 10px;
}

#paragraph {
  min-height: 80vh;
  line-height: 1.5;
  text-align: justify;
  background-color: #00695C;
  color: #FFF9C4;
  font-size: 16px;
  padding: 30px;
}

#loisirsIcons {
  min-height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00695C;
}

#loisirsIcons i{
  font-size: 38px;
  color: #FFF9C4;
  border: solid 2px #FFF9C4;
  padding: 10px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
