@media screen and (min-width: 576px) and (max-width: 768px) {
  
    #container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    header{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    header h1 {
      font-size: 72px;
    }
    header h2 {
      font-size: 44px;
    }
  
    #sidebar h2 {
      font-size: 44px;
    }
  
    #jumbotron img {
      display: block;
      width: 70%;
      margin: auto;
      border-radius: 250px;
  } 
  
    #jumbotron{ /*header avec image pour small devices*/
      order: 1;
    }
    
     .section__one{ /*section formation */
      order: 2;
    }
    #formationTitle h2{ /*titre section formation*/
      font-size: 44px;
    }
    .lefty h3{
      font-size: 24px;
      font-weight: bold;
    }
    .lefty h4{
      font-size: 24px;
    }
    .lefty h6{
      font-size: 20px;
    }
    
    .righty h3{
      font-size: 24px;
      font-weight: bold;
    }
    .righty h4{
      font-size: 24px;
    }
    .righty h6{
      font-size: 20px;
    }
    .rigthty p{
      font-size: 18px;
    }
    
    #section__two{ /*section experience*/
      order: 3;
    }
    #experienceTitle h2{ /*titre section experience*/
      font-size: 44px;
    }
    #section__three{ /*section recommandations*/
      order: 4;
    }
    #recommandationsTitle h2{ /*titre section recommandations*/
      font-size: 44px;
    }
    #sidebar{ /*sidebar*/
      order: 5;
      width: 100%;
    }
    
    #contactContent nav ul li { /*contenu contact*/
      font-size: 24px;
      margin: 7%;
    }
    
    #paragraph p{ /*contenu A propos de moi*/
      text-align: center;
      font-size: 24px;
      margin: 5%;
    }
    #loisirsIcons i{
      font-size: 72px;
    }
    #profilePic{ /*image de la sidebar */
      display: none;
    } 
  }